[Desktop Entry]
Encoding=UTF-8
Name=Link to W3.CSS Template
Type=Link
URL=file:///home/francisco/git/Francisco/gitlab/mywebsite/originals/cv/cv.html
Icon=text-html
